name = "gypsum-test" # ~> Name of the worker, to be used in the endpoint URL.
type = "webpack"

account_id = "bfb2e522e0b245720424784fcf7c04c0" # ~> Cloudflare account ID, as listed on the R2 page of the Cloudflare dashboard.
workers_dev = true
route = ""
zone_id = ""
compatibility_date = "2022-03-04"

[[r2_buckets]]
binding = 'BOUND_BUCKET' 
bucket_name = 'gypsum-test' # ~> Name of the R2 bucket to bind to the worker.
preview_bucket_name = 'gypsum-test' # ~> Name of the bucket for wrangler dev. Best if left the same as 'bucket_name', despite the warnings.

[vars]
CF_ACCOUNT_ID = "bfb2e522e0b245720424784fcf7c04c0" # ~> Account ID. Should be the same as 'account_id'.
R2_BUCKET_NAME = 'gypsum-test' # ~> Name of the bucket. Should be the same as 'r2_buckets.bucket_name'.
GITHUB_CI_REPOSITORY = 'ArtifactDB/gypsum-actions' # ~> Name of the GitHub repository to use for CI/CD.
GITHUB_USER_AGENT = 'gypsum-test-worker' # ~> User agent for GitHub API requests.
